:root {
  --blue: rgb(0, 166, 255);
  --blue-hover: rgb(46 128 172);
  --gray-100: #aaa;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 246, 246);
  margin: 0 10px;
}

.container {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  max-width: 900px;
  height: 100vh;
  gap: 10px;
  
}


.celular {
  min-width: 50%;
  
}

#cell {
  background: white;
  margin: 0 auto;
  width: 370px;
  border: 5px solid rgb(91, 127, 147);
  border-radius: 35px;
  height: 750px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  box-shadow: -20px 10px 40px #0005 , 
  inset 0px 0px 10px rgba(52, 92, 124, 0.9);
  
}

.cell-top,
.cell-bottom {
  height: 90px;
  
}

.camera {

  display: flex;
  align-items: center;
  gap: 15px;

}


.camera::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  display: block;
}

.camera::after {
  content: '';
  height: 5px;
  width: 80px;
  border-radius: 50px;
  background: #555;
}


.cell-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-main {
  border: 2px solid gray;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

}

.cell-main header,
.cell-main footer {

  min-height: 60px;
  background: #eee;
  width: 100%;
  display: flex;  
  align-items: center;
  padding: 0 10px;
}

.cell-main header .goback {
  width: 15px;
  height: 15px;
  display: block;
  border-left: solid 3px #333;
  border-bottom: solid 3px #333;
  transform: rotate(45deg);
}

.cell-main header #title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.cell-main header .menu-point {
  display: flex;
  gap: 3px;
}
.cell-main header .menu-point span{
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50%;
  background: #333;
}

.cell-main section {
  flex: 1;
  border-top: #bbb solid 1px;
  border-bottom: #bbb solid 1px;
  display: flex;
  flex-direction: column;
}
.cell-main footer {
    min-height: 40px;
    color: #999;
    justify-content: space-between;
}
.cell-main footer .avatar {
  height: 30px;
  width: 30px;
  opacity: 0.7;
}
#logo {
  background: url('./img/logo.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;

}
.head {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: flex-end;
}

.head .content {
  flex: 1;
  border: none;
  
  
}
.content {
  color: #aaa;
  padding: 5px 5px;
  border-bottom: #bbb solid 1px;
}
.content h2 {
  font-size: 14pt;
  color: #333;
}

.content p:first-of-type {
  color: #444;
}
.gallery {
  background: gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 1 0 0;
  overflow-y: hidden;
  
}
.photo {
  
  height: 100px;
  flex: 1 0 0;
  
}
.photo:nth-child(1) {
  background: url('./img/01.jfif');
  background-size: cover;

}
.photo:nth-child(2) {
  background: url('./img/02.jfif');
  background-size: cover;

}
.photo:nth-child(3) {
  background: url('./img/03.jfif');
  background-size: cover;

}
.photo:nth-child(4) {
  background: url('./img/04.jfif');
  background-size: cover;

}
.photo:nth-child(5) {
  background: url('./img/05.jfif');
  background-size: cover;

}
.photo:nth-child(6) {
  background: url('./img/06.jfif');
  background-size: cover;

}
.photo:nth-child(7) {
  background: url('./img/07.jfif');
  background-size: cover;

}
.photo:nth-child(8) {
  background: url('./img/08.jfif');
  background-size: cover;

}
.photo:nth-child(9) {
  background: url('./img/09.jfif');
  background-size: cover;

}

.content .bio {
  text-decoration: none;
  color: var(--blue);
}

.mnu {
  list-style: none;
  justify-content: center;
  text-align: center;
  gap: 20px;
  color: #555;
  margin-bottom: 10px;
  font-size: 10pt;
  
}
.mnu span {
  font-weight: bold;
  color: #333;
  font-size: 12pt;
}
.col-r {
  flex-direction: column-reverse;
}
.collumm{
  flex-direction: column;
  
}
.flex-1 {
  flex: 1;
}

.flex {
  display: flex;
}
 .row {
  flex-direction: row;
 }

.cell-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-bottom::after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(rgb(91, 127, 147),rgba(134, 184, 210, 0.648));
  
}

.cell-bottom::before {
  content: '';
  position: absolute;
  display: block;
  width: 53px;
  height: 53px;
  background-color: white;
  border-radius: 50%;
  
  
}
.main {
  justify-content: center;
  max-width: 400px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}



#instagram {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  border: 1px var(--gray-100) solid;


}

#instagram h1 {
  margin: 5px 0;
  background: url('./img/instagram.png');
  background-size: 180px;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
  text-align: center;
  color: #0000;

}

#cadastro {
  background: white;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: gray;
  border: 1px var(--gray-100) solid;
}

#cadastro h2 {
  font-size: 12pt;
}

#cadastro span {
  font-size: 14pt;
}



.avatar {
  background: url('https://github.com/bozomj.png');
  background-size: cover;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#app {
  color: rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

#app div {
  display: flex;
  width: 90%;
  gap: 10px;
  flex-wrap: nowrap;
}

.link {
  color: var(--blue);
  text-decoration: none;
  font-size: 14pt;
}

.link:hover {
  color: var(--blue-hover);
}

.btn {
  background-color: var(--blue);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0;
}
.btn:hover {
  background-color: var(--blue-hover);
}
#app h2 {
  font-size: 14pt;
}
#app div a {
  flex: 1;
}

#app div img {
  width: 100%;
}
.gap-5{
  gap: 5px;
}
.btn-brd {
  border: 2px solid var(--blue);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blue);
}



@media(max-width: 992px){

  #instagram, #cadastro{
      background: none;
      border: none;
      
  }

  .container {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    padding-bottom: 50px;
    height: auto;
  }
 
 }